.form-post-create {
  display: flex;
  flex-direction: column;
}

.card-post-create {
  margin: 20px;
}

.textarea-post-create {
  height: 100px;
}

.field-post-create {
  min-width: 300px;
}

.button-post-create {
  width: 100px;
}
