.form-post-create {
  display: flex;
  flex-direction: column;
}

mat-card {
  max-width: 400px;
  width: 100%;
}

.card-container{
  display: flex;
  justify-content: center;
}

.card-post-create {
  margin: 20px;
}

.textarea-post-create {
  height: 100px;
}

.field-post-create {
  min-width: 300px;
}

.button-post-create {
  width: 100px;
}
