
.card-container{
  width: 100%;
}

mat-card {
  width: 100%;
}

.card-post-create {
  margin-top: 20px;
}

.textarea-post-create {
  height: 100px;
}

.field-post-create {
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
}

.button-post-create {
  width: 150px;
}

mat-card-actions{
  margin-right: 10px;
}
