
.card-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-card {
  width: 100%;
}

.card-contacto {
  margin-top: 20px;
}

.textarea-contacto {
  height: 150px;
}

.field-contacto {
  min-width: 100%;
}

.button-contacto {
  width: 100px;
}
