<mat-toolbar color="primary" align="center">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['/news']">News</button>
    <button mat-button [routerLink]="['/reviews']">Reviews</button>
    <button mat-button [routerLink]="['/indie']">Indie</button>
    <button mat-button [routerLink]="['/contact']">Contact</button>
    <button mat-button [routerLink]="['/createPost']">Create a post</button>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content" >
  <router-outlet></router-outlet>
</div>
