<mat-card>
  <mat-card-header>
    <mat-card-title> {{ post?.title }} </mat-card-title>
    <mat-card-subtitle> {{ post?.subtitle }} </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="post?.imageUrl"
  />
  <mat-card-content>
    <p>
      {{ post?.content }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button *ngFor="let action of post?.actions">
      <mat-icon *ngIf="action.name === 'Like'">favorite</mat-icon>
      <mat-icon *ngIf="action.name === 'Share'">sync</mat-icon>
      <span *ngIf="action.name === 'Read more'"> {{ action.name }}</span>
    </button>
  </mat-card-actions>
</mat-card>
